section#contact
  h2 Get in Touch
  #contact-container
    #form
      form
        fieldset
          div
            input#name(type='text' placeholder='Your Ugly Name' required)
            input#email(type='email' placeholder='your_email@company.com' required)
          textarea#message(name='message' placeholder='Enter Message' required)
    #contacts-list
      div
        h3 Email
        a info@makapala.org
      div
        h3 Phone
        a 0852 7040 3281
      div
        h3 Address
        address
        | 1234 Somewhere in Earth
        br
        Banda Aceh, Aceh, Indonesia
      div#social-media
        h3 Social Media
        ul
          li a
          li a
          li a
