footer
  div#col-1
    div
      span info@makapala.org
      address Jln. Tgk. Apa  Dimana Gitu, Aceh
    div
      just another column probably for sosmed
  div#col-2
    span Made with &hearts; by muhajir
