section#heading
  #header-container
    h1 Welcome to Makapala Website
    h2 Satu Nyawa, Gak Banyak-Banyak
    button Tombol Video
  #info
    #address
      address
        | Jln. Tgk. Abdullah, No.20, Bogor
        br
        | Jawa Barat, Indonesia
    #social-media
      span some social media icon here
    #email
      span info@makapala.org
