extends layout

block content
  main
    section#big-header.section
      #header-container
        h1 Welcome to Makapala Website
        h2 Satu Nyawa, Gak Banyak-Banyak
        button Tombol Video
      #info
        #address
          address
            | Jln. Tgk. Abdullah, No.20, Bogor
            br
            | Jawa Barat, Indonesia
        #social-media
          span some social media icon here
        #email
          span info@makapala.org

    section.section#section-2
      .general-container
        h2 Who are We?

    section.section#section-3
      h2 Upcoming Events

    section.section#section-4
      h2 Get in Touch
