#contact
  height: 90vh
  background-color: #666
  #contact-container
    display: flex
    justify-content: space-between

    #form
      flex-grow: 1
      input
      textarea
        border-radius: 4px
        background-color: darken(#666, 20%)
        border: none
        padding: 10px
        margin: 10px 0
        width: 48%
      textarea
        width: 100%
        resize: none
        min-height: 150px
      fieldset
        border: none
        width: 90%
        padding: 0
        margin-top: 10px
      fieldset > div
        display: flex
        justify-content: space-between

    #contacts-list
      flex-grow: 1
      padding: 0px 80px 20px 20px
      #social-media
        ul
          list-style-type: none
          margin:0
          padding:0
          li
            display: inline
            img
              width: 35px
              padding: 5px
              background-color: white
              margin: 0 5px
