footer
  height: 10vh
  padding: 0 10px

  display: flex
  align-items: center
  justify-content: flex-end

  color: #fff
  background-color: darken(#666, 10%)

  #col-1
    display: flex

    div
      margin: 5px 10px
