body
  margin: 0
  padding: 0

  display: flex
  flex-direction: column
  background: url(https://static.pexels.com/photos/130111/pexels-photo-130111.jpeg) no-repeat bottom fixed;
  background-size: cover;

button
    button(rgba(#fff,0),large,#fff)

section
  padding: 100px
  height: 100vh
  color: #fff
