#heading
  padding: 0
  position: relative
  display: flex
  align-items: center
  justify-content: center
  background: rgba(0, 0, 0, 0.6);

  #header-container
    color: rgba(#fff,1)
    h1
      font-size: 4em
      margin-bottom: 0
      font-weight: 300
    h2
      margin-top: 0.6em
    button
      transition: border-color 0.4s, background-color 0.4s
      transition-timing-function : $ease-in-out-swift
      border: 3px solid #fff
      &:hover, :focus
        background-color: #fff
        color: #555
        border: 3px solid #fff
  #info
    position: absolute
    height: 10vh
    width: 100%
    top: 90vh
    display: flex
    align-items: center
    justify-content: space-between
    background-color: rgba(0, 0, 0, 0.18)
    color: #757575
    padding: 0 25px
    #address
      font-size: 14px
