// ---------------
// Axis Settings
// Check here for updates:
// https://github.com/jenius/axis/blob/master/axis/settings.styl
// ---------------

// Font stacks (add your own!)
$helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
$helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
$georgia = Georgia, Cambria, "Times New Roman", Times, serif
$lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
$monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
$verdana = Verdana, Geneva, sans-serif

// Default font settings
$font-stack = $helvetica-neue
$font-size = 16
$font-color = #555

// Colors (via http://clrs.cc - slightly modded)
$navy     = #001F3F
$blue     = #0074D9
$aqua     = #7FDBFF
$teal     = #39CCCC
$olive    = #3D9970
$green    = #2ECC40
$lime     = #01FF70
$yellow   = #FFDC00
$orange   = #FF851B
$red      = #D13F19
$maroon   = #85144B
$fuchsia  = #F012BE
$purple   = #B10DC9
$white    = #FFFFFF
$silver   = #DDDDDD
$gray     = #AAAAAA
$black    = #222222

// Flat Colors (via flatuicolors.com)
$turquoise     = #1abc9c
$emerald       = #2ecc71
$peter-river   = #3498db
$amethyst      = #9b59b6
$wet-asphalt   = #9b59b6
$green-sea     = #16a085
$nephritis     = #27ae60
$belize-hole   = #2980b9
$wisteria      = #8e44ad
$midnight-blue = #2c3e50
$sun-flower    = #f1c40f
$carrot        = #e67e22
$alizarin      = #e74c3c
$clouds        = #ecf0f1
$concrete      = #95a5a6
$orange        = #f39c12
$pumpkin       = #d35400
$pomegranate   = #c0392b
$silver        = #bdc3c7
$asbestos      = #7f8c8d


// Use as default HTML colors
navy    = $navy
blue    = $blue
aqua    = $aqua
teal    = $teal
olive   = $olive
green   = $green
lime    = $lime
yellow  = $yellow
orange  = $orange
red     = $red
maroon  = $maroon
fuchsia = $fuchsia
purple  = $purple
white   = $white
silver  = $silver
gray    = $gray
black   = $black


// Default color
$default-color = $blue

// Text highlight color
$highlight-color = $blue

// Custom image base path for axis mixins
$img-path = '/img/'

// Ligatures
$ligatures = false
